<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grocery Scanning</title>
        <style>

        html, .page {
            /* background: linear-gradient(to bottom right, #3392db 0%, #9cbe97 83%); */
            background: #adb195 url('../static/images/green_background.jpg') top left repeat;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: minmax(9em, auto);
            gap: 0px 0px;
            grid-template-areas:
                ". header header ."
                "cart cart cart addremove"
                "cart cart cart ."
                "cart cart cart ."
                "cart cart cart ."
                ". . total checkout";
            /* background: linear-gradient(to bottom right, #3392db 0%, #9cbe97 83%); */
            margin-left: 0.5%;
            /* width: 100vw; */
            /* height: 100vh; */
        }

        .header {
            grid-area: header; 
	    justify-self: center;
            align-self: center;
            /* background: green; */
        }

        .cart {
            grid-area: cart;
            border: #333 0.15em solid;
            background: white;
        }

        .addremove { 
            grid-area: addremove; 
            /* background: red; */
            justify-self: center;
            align-self: center;
        }

        .addremovebuttons {
            justify-self: center;
            align-self: center;
        }

        .total { 
            grid-area: total; 
            /* background: yellow; */
            text-align: right;
            font-size: 27px;
        }

        .checkout {
            grid-area: checkout;
            /* background: purple; */
        }
        .dataBarcode {
            width: 100%;
            border: 1px solid black;
            text-align: center;
        }
        table {
            text-align: center;
        }

	.logo {
		width: auto;
		height: auto;
	}

        </style>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class = "page">
            <div class="grid-container">
            <div class="header">
                <img class="logo" src="{{ url_for('static', filename='images/logo.png')}}" alt="UTD Marketplace">
            </div>
            <div class="cart">
                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price ea.</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Cost</th>
                      </tr>
                    </thead>
                    <tbody class = "dataBarcode">
                    </tbody>
                  </table>
            </div>
            <div class="addremove">
                <div class="text-center" data-toggle="buttons">
                    <label class="btn btn-lg btn-success ">
                        <input type="radio" name="options" id="option5" value = "add" checked>
                        Add
                    </label>
                    <label class="btn btn-lg btn-danger">
                        <input type="radio" name="options" id="option6" value = "remove">
                        Remove
                    </label>
                </div>
            </div>
            <div class="total text-center">
                <b>Total:</b>
                <span class = "totalCost">$0.00</span>
            </div>
            <div class="checkout text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#checkConfirmation">Checkout</button>
            </div>
          </div>

          <div class="modal fade" id="checkConfirmation" tabindex="-1" role="dialog" aria-labelledby="checkConfirmation" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="checkConfirmation">Are you sure you want to checkout?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Confirming means that your purchase will be finalized and your shopping is complete.
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('checkout') }}" method="POST">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- ALERT Modal -->
        <div class="modal fade" id="modalAlert" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ERROR</h4>
                    </div>
                    <div class="modal-body">
                        <h4>We have detected an error in your cart.</h4>
                        <p>Please See A Cashier For Further Assistance.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>

          <script>
            var itemsList = new Array();
            var taxRate = 1.0825;
            var expectedWeight = 0;

            function addOrRemove() {
                const radioButtons = document.querySelectorAll('input[name="options"]');
                let selectedValue;

                for (const radioButton of radioButtons) {
                    if (radioButton.checked) {
                        selectedValue = radioButton.value;
                        break;
                    }
                }
                return selectedValue;
            }
            


            function findItem(itemName) {
                //Find the item's HTML row element
                var item = $('tr').filter(function(){
                    return $(this).data('name') === itemName;
                });
                //There is no item
                if(item.length === 0)
                    return 0;
                else
                    return item; 
            }



            function editQuantityTotal(item, adjustQuantity, itemTotal) {
                //Change the quantity of the item
                item.find('.quantity').text(function(i, itemQuantity) {
                    return Number(itemQuantity) + adjustQuantity;
                });

                //Change the total price of the item
                item.find('.totPrice').text(function(i, itemTotalPrice) {
                    itemTotalPrice = itemTotalPrice.replace('$', '');
                    itemTotalPrice = (parseFloat(itemTotalPrice) + (adjustQuantity * parseFloat(itemTotal))).toFixed(2);
                    itemTotalPrice = "$" + itemTotalPrice;
                    return itemTotalPrice;
                });
            }



            function insertSessionItem(sessionItem) {
                //Create html of the item's columns
                var htmlName = "<th scope = \"row\">" + sessionItem.name + "</th>";
                var htmlPrice = "<td class = \"indvPrice\">$" + sessionItem.price + "</td>";
                var htmlQuantity = "<td class = \"quantity\">" + sessionItem.quantity + "</td>";
                var htmlTotal = "<td class = \"totPrice\">$" + sessionItem.total + "</td>";
                
                //Create the item html row
                var htmlItem = document.createElement("tr");
                htmlItem.setAttribute("data-name", sessionItem.name);
                htmlItem.innerHTML = htmlName + htmlPrice + htmlQuantity + htmlTotal;

                return htmlItem;
            }

            function insertNewItem(item, itemTotal) {
                //Create html of the item's columns
                var htmlName = "<th scope = \"row\">" + item.ItemName + "</th>";
                var htmlPrice = "<td class = \"indvPrice\">$" + item.ItemPrice + "</td>";
                var htmlQuantity = "<td class = \"quantity\">1</td>";
                var htmlTotal = "<td class = \"totPrice\">$" + itemTotal + "</td>";
                
                //Create the item html row
                var htmlItem = document.createElement("tr");
                htmlItem.setAttribute("data-name", item.ItemName);
                htmlItem.innerHTML = htmlName + htmlPrice + htmlQuantity + htmlTotal;

                return htmlItem;
            }



            function removeItem(item) {
                item.remove();
            }


            
            function adjustTotal(price) {
                $(".totalCost").text(function(i, totalCost) {
                    totalCost = totalCost.replace('$', '');
                    totalCost = parseFloat(totalCost) + parseFloat(price);
                    totalCost = parseFloat(totalCost).toFixed(2);
                    totalCost = "$" + totalCost;
                    return totalCost;
                });
            }



            function removeSessionItem(itemName) {
                let index;
                //Loop through items in itemList
                for(index = 0; index < itemsList.length; index++) {
                    //The item is the item we're looking for
                    if(itemsList[index].name === itemName) {
                        itemsList.splice(index, 1);     //Remove it from the array
                        break;
                    }
                }
            }



            function adjustSessionItemQuantityAndTotal(index, name, quantity, total, weight) {
                itemsList[index].quantity = itemsList[index].quantity + quantity;
                itemsList[index].total = itemsList[index].total + total;
                itemsList[index].weight = itemsList[index].weight + weight;
            }



            function findSessionItemInItemsList(itemName) {
                let index;
                if(Array.isArray(itemsList) && itemsList.length >= 0) {
                    //Loop through items in itemList
                    for(index = 0; index < itemsList.length; index++) {
                        //Item is the item we're looking for
                        if(itemsList[index].name === itemName) 
                            return index;
                    }
                }
                return -1;  //No item was found
            }



            function manageSessionItem(sessionItem) {
                //Session item is being removed from itemsList
                if(sessionItem.quantity === 0) 
                    removeSessionItem(sessionItem.name);
                else {
                    let sessionItemIndex = findSessionItemInItemsList(sessionItem.name);       //Check to see if sessionItem is in itemsList
                    //sessionItem is in itemsList
                    if(sessionItemIndex > -1) {
                        adjustSessionItemQuantityAndTotal(sessionItemIndex, sessionItem.name, sessionItem.quantity, sessionItem.total, sessionItem.weight);
                    }
                    //There is an existing list, but the item isn't in the list
                    else if(Array.isArray(itemsList) && itemsList.length >= 0) 
                        itemsList.push(sessionItem);
                    //There isn't a list
                    else
                        itemsList = new Array(sessionItem);
                }
                console.log("Updated itemsList");
                console.log(itemsList)
            }



            function insertPreviousSessionData() {
                let index;
                //Loop through items in itemList
                for(index = 0; index < itemsList.length; index++) {
                    $(".dataBarcode").append(insertSessionItem(itemsList[index]));
                    adjustTotal(itemsList[index].total);
                    expectedWeight = expectedWeight + itemsList[index].weight;
                }
            }



            function getPreviousSessionData() {
                itemsList = JSON.parse(sessionStorage.getItem('cart'));
                console.log("Previous session");
                console.log(itemsList);
                //There is previous session data
                if(Array.isArray(itemsList) && itemsList.length > 0)
                    insertPreviousSessionData();
            }

            function requestWeight() {
                var weightData = $.get('/weight');      //Get actual weight
                //When weight sensor data is returned
                weightData.done(function (result) {
                    let actualWeight = result.weight;

                    //The weight isn't within +- 10% of the expected weight
                    if(actualWeight < (expectedWeight * 0.9) || actualWeight > (expectedWeight * 1.1)) {
                        //Modal isn't showing
                        if(!($('#modalAlert').hasClass('show'))) {
                            console.log("Not expected weight");
                            console.log("Expected weight: " + expectedWeight);
                            console.log("Actual weight: " + actualWeight);
                            $('#modalAlert').modal({show:true});
                        }
                    } else {
                        //Modal is showing
                        if($('#modalAlert').hasClass('show')) 
                            $('#modalAlert').modal('hide');
                    }
                    setTimeout(requestWeight, 1000);    //Call requestWeight again after a second
                });
            }

            function requestData() {
                let action;
                let sessionItem = {name: "", price: 0, quantity: 0, total: 0, weight: 0};

                var barcodeData = $.get('/getbarcode');        //Call python code for barcode scanner

                //When python code returns something
                barcodeData.done(function (result)
                {
                    if(result === "error")
                        console.log("Failed to GET from Database");
                    else {
                        var itemTotal;

                        if(result.ItemTaxable) {
                            result.ItemName = result.ItemName + "*";                                //Set name to have * to represent it is taxable
                            itemTotal = Number(parseFloat(result.ItemPrice * taxRate).toFixed(2));  //Calculate the cost of the item with tax
                        }
                        else
                            itemTotal = result.ItemPrice;

                        let tableItem = findItem(result.ItemName);      //0 if the item isn't already in the table, else it is the HTML element of the item
                        action = addOrRemove();                         //Determine whether the radio buttons are on add or remove

                        if(action === "add") {
                            expectedWeight = expectedWeight + result.ItemWeight;
                            //Add new item
                            if(tableItem === 0) {
                                console.log("Add non-existing item.");
                                $(".dataBarcode").append(insertNewItem(result, itemTotal));         //Add item to table
                                sessionItem.name = result.ItemName 
                                sessionItem.price = result.ItemPrice;
                                sessionItem.quantity = 1;
                                sessionItem.total = itemTotal;
                                sessionItem.weight = result.ItemWeight;
                            }
                            //Item is in the table so just increase quantity
                            else {
                                console.log("Increase quantity of existing item.");
                                editQuantityTotal(tableItem, 1, itemTotal);
                                sessionItem.name = result.ItemName 
                                sessionItem.quantity = 1;
                                sessionItem.total = itemTotal;
                                sessionItem.weight = result.ItemWeight;
                            }
                            adjustTotal(itemTotal); //Adjust the total at the bottom of the cart
                        }
                        
                        else if(action === "remove") {
                            //Item isn't in the table
                            if(tableItem === 0) 
                                console.log("There is no item to remove.");
                            else {
                                quantity = Number(tableItem.find('.quantity').text());      //Get the quantity of the item

                                //Item quantity is 1 so remove item from cart
                                if(quantity === 1) {
                                    console.log("Remove item completely");
                                    removeItem(tableItem);
                                    expectedWeight = expectedWeight - result.ItemWeight;
                                    sessionItem.name = result.ItemName;
                                    sessionItem.quantity = 0;               //0 means we're removing the item
                                }
                                //Item quantity is more than 1, decrement quantity
                                else {
                                    console.log("Decrease quantity of existing item.");
                                    editQuantityTotal(tableItem, -1, itemTotal);
                                    expectedWeight = expectedWeight - result.ItemWeight;
                                    sessionItem.name = result.ItemName 
                                    sessionItem.quantity = -1;
                                    sessionItem.total = -1 * itemTotal;
                                    sessionItem.weight = -1 * result.ItemWeight;
                                }
                                adjustTotal(itemTotal * -1);    //Adjust the total at the bottom of the cart
                            }
                        }
                        else   
                            console.log("Error. Action is neither add or remove");
                        //Session item has something in it
                        if(sessionItem.name !== "")
                            manageSessionItem(sessionItem);
                        sessionStorage.setItem('cart', JSON.stringify(itemsList));
                    }
                    setTimeout(requestData, 250);
                });

            }



            $(document).ready(function()
            {
                try {
                    getPreviousSessionData();
                    requestData();
                    requestWeight();
                } catch(err) {
                    console.log("Error", err);
                }
            });
        </script>
        <!-- Bootstrap scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
