<!DOCTYPE html>
<html>

    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='page.css')}}">        
    </head>

    <body>

        <a href="/" title="Return to Home Page" id="logo">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="UTD Marketplace">

        
        </a>

        <div id="container">
            <div id="main-content">

                <h1>Welcome to UTD Market!</h1>

                <p class="lead">Thank you for using our automated shopping trolley. 
                    We hope to give you the best possible customer satisfaction.</p>
                
                <form action="{{ url_for('scan') }}" method="POST">
                    <button class="block" type="submit" action="{{ url_for('scan') }}">Swipe Your Card To Get Started >></button>
                </form>



        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

        <div id="id01" class="modal">
        
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            </div>

            <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
                
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
        </div>

    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
                </div>
            </div> <!--end container-->
        </body>
    </html>